:root {
  --white: #ffffff;
  --black: #1C2229;
  --beige: #F5F3EF;
  --grey: #929292;
  --orange: #ED550E;
  --dark-blue: #104A99;
  --blue: #ADBFFD;
  --pink: #F5CAC4;
  --column-width: 160px;
  --row-height: 26px;
}
